<section class="about-me" id="about-me">
  <div class="container about-me-container">
    <h2 class="about-me-title visually-hidden">About me</h2>
    <div class="about-me-intro">
      <div class="about-me-summary">
        <p class="about-me-summary-text">
          I work with people all over the world to create impressive and
          <span class="red">functional</span>
          <span class="pale">websites</span> that reflect each client's unique
          personality.
        </p>
      </div>
      <picture class="about-me-pic-wrap">
        <source
          class="about-me-pic"
          srcset="
            /img/about-me/desktop-jefferson-img.jpg    1x,
            /img/about-me/desktop-jefferson-img@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          class="about-me-pic"
          srcset="
            /img/about-me/tablet-jefferson-img.jpg    1x,
            /img/about-me/tablet-jefferson-img@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          class="about-me-pic"
          srcset="
            /img/about-me/mobile-jefferson-img.jpg    1x,
            /img/about-me/mobile-jefferson-img@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="about-me-pic"
          src="/img/about-me/mobile-jefferson-img.jpg"
          alt="portfolio picture"
        />
      </picture>
    </div>

    <!--  -->
    <div class="about-me-info">
      <ul class="about-me-info-list">
        <li class="about-me-info-list-item">
          <div class="info-title-button-wrap">
            <h3 class="info-item-title">About me</h3>
            <button class="disclosure-button" type="button">
              <svg class="disclosure-button-icon">
                <use href="./img/sprite.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </div>
          <div class="info-item-text-wrap">
            <p class="info-item-text">
              I am Lloyd Jefferson, a talented programmer with extensive
              expertise in software development. I have an understanding of
              different programming languages ​​and technologies, always ready
              to improve my skills. I always follow the latest trends and look
              for unconventional, creative solutions to problems. I have a high
              level of analytical skills and am able to effectively solve even
              the most difficult tasks encountered on the way.
            </p>
            <p class="info-item-text">
              Able to work both independently and in a team. I can effectively
              cooperate with colleagues, exchanging ideas and finding optimal
              solutions. Professional maturity allows you to calmly cope with
              challenges and stressful situations, while maintaining a high
              quality of work. I am always looking for opportunities for
              self-improvement. I actively study new technologies and practices
              to stay abreast of the latest innovations. I have a strong
              understanding of various programming languages, frameworks and
              architectural concepts that allow me to create efficient and
              scalable software.
            </p>
          </div>
        </li>
        <li class="about-me-info-list-item">
          <div class="info-title-button-wrap">
            <h3 class="info-item-title">Role</h3>
            <button class="disclosure-button" type="button">
              <svg class="disclosure-button-icon">
                <use href="./img/sprite.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </div>
          <ul class="roles-list">
            <li class="roles-list-item">Frontend development</li>
            <li class="roles-list-item">HeadlessCMS,Wordpress</li>
            <li class="roles-list-item">Blender(enjoy)</li>
          </ul>
        </li>
        <li class="about-me-info-list-item">
          <div class="info-title-button-wrap">
            <h3 class="info-item-title">Education</h3>
            <button class="disclosure-button" type="button">
              <svg class="disclosure-button-icon">
                <use href="./img/sprite.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </div>
          <ul class="education-list">
            <li class="education-list-item">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </li>
            <li class="education-list-item">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </li>
            <li class="education-list-item">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <!--  -->
    <div class="about-me-technologies">
      <ul class="technologies-list">
        <li class="technologies-list-item is-active">HTML/CSS</li>
        <li class="technologies-list-item">JavaScript</li>
        <li class="technologies-list-item">React</li>
        <li class="technologies-list-item">Node.js</li>
        <li class="technologies-list-item">React Native</li>
        <li class="technologies-list-item">Soft skills</li>
      </ul>
      <button class="scroll-button" type="button">
        <svg class="scroll-button-icon">
          <use href="/img/sprite.svg#icon-big-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
