<!-- =======Modal window mobile======= -->
<div class="header-mobile-menu visually-hidden" data-menu>
  <button type="button" class="menu-close-button" data-menu-close>
    <svg class="menu-close-button-icon" width="28" height="28">
      <use href="./img/sprite.svg#icon-x"></use>
    </svg>
  </button>

  <nav class="header-navigation">
    <ul class="navigation-list">
      <li class="navigation-list">
        <a class="sections-link" href="#about-me">About me</a>
      </li>
      <li class="navigation-list">
        <a class="sections-link" href="#benefits">Benefits</a>
      </li>
      <li class="navigation-list">
        <a class="sections-link" href="#projects">Projects</a>
      </li>
      <li class="navigation-list">
        <a class="sections-link" href="#faq">FAQ</a>
      </li>
    </ul>
  </nav>

  <div class="burger-order-button-container">
    <a class="burger-order-button" href="#work-together">Order the project</a>
  </div>

  <button class="header-order-button" type="button">
    <a class="header-order-button-link" href="#work-together"
      >Order the project</a
    >
  </button>
</div>

<!-- ========================= -->

<header class="header" id="header">
  <div class="header-container">
    <div class="header-avatar">
      <a href="https://github.com/">
        <img
          class="avatar-logo"
          srcset="
            ./img/header/logo-jefferson.jpg    80w,
            ./img/header/logo-jefferson@2x.jpg 80w
          "
          src="./img/header/logo-jefferson@2x.jpg"
          width="80px"
          height="80px"
          alt="header avatar"
          ;
        />
      </a>
      <p class="avatar-name">jefferson*</p>
    </div>

    <div class="header-dropdown">
      <a class="menu-link" href="#" id="profile-link">Menu</a>
      <nav class="header-navigation">
        <ul class="navigation-list">
          <li class="navigation-list">
            <a class="sections-link" href="#about-me">About me</a>
          </li>
          <li class="navigation-list">
            <a class="sections-link" href="#benefits">Benefits</a>
          </li>
          <li class="navigation-list">
            <a class="sections-link" href="#projects">Projects</a>
          </li>
          <li class="navigation-list">
            <a class="sections-link" href="#faq">FAQ</a>
          </li>
        </ul>
      </nav>
    </div>

    <button class="header-order-button" type="button">
      <a class="header-order-button-link" href="#work-together"
        >Order the project</a
      >
    </button>

    <button class="burger-open-button" data-menu-open type="button">
      <svg class="burger-open-icon">
        <use href="./img/sprite.svg#icon-menu-burger"></use>
      </svg>
    </button>
  </div>
</header>
