<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title">REVIEWS</h2>

    <div class="reviews-wrapper">
      <ul class="reviews-list">
        <li class="reviews-list-item">
          <img width="48" class="reviews-img" src="" alt="" />
          <div class="reviews-customer-info">
            <h3 class="reviews-customer-author">Natalia</h3>
            <p class="reviews-descr">
              Work with was extraordinary! He turned out to be a very competent
              and responsible specialist. The projects were completed on time
              and the result exceeded my expectations
            </p>
          </div>
        </li>
        <li class="reviews-list-item">
          <img width="48" class="reviews-img" src="" alt="" />
          <div class="reviews-customer-info">
            <h3 class="reviews-customer-author">Natalia</h3>
            <p class="reviews-descr">
              Work with was extraordinary! He turned out to be a very competent
              and responsible specialist. The projects were completed on time
              and the result exceeded my expectations
            </p>
          </div>
        </li>
        <li class="reviews-list-item">
          <img width="48" class="reviews-img" src="" alt="" />
          <div class="reviews-customer-info">
            <h3 class="reviews-customer-author">Natalia</h3>
            <p class="reviews-descr">
              Work with was extraordinary! He turned out to be a very competent
              and responsible specialist. The projects were completed on time
              and the result exceeded my expectations
            </p>
          </div>
        </li>
      </ul>

      <ul class="review-buttons-set">
        <li class="review-buttons-set-item">
          <button type="button" class="review-swiper-button">
            <svg class="review-swiper-button-icon">
              <use href="/img/sprite.svg#icon-big-arrow-left"></use>
            </svg>
          </button>
        </li>
        <li class="review-buttons-set-item">
          <button type="button" class="review-swiper-button">
            <svg class="review-swiper-button-icon">
              <use href="/img/sprite.svg#icon-big-arrow-right"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
