<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title">REVIEWS</h2>

    <!--Swiper-->
    <div class="reviews-wrapper">
      <div class="reviews-swiper">
        <ul class="swiper-wrapper reviews-list">
          <!-- <li class="swiper-slide reviews-list-item">
            <img width="48" class="reviews-img" src="" alt="" />
            <div class="reviews-customer-info">
              <h3 class="reviews-customer-author">Natalia</h3>
              <p class="reviews-descr">
                Work with was extraordinary! He turned out to be a very
                competent and responsible specialist. The projects were
                completed on time and the result exceeded my expectations
              </p>
            </div>
          </li>
          <li class="swiper-slide reviews-list-item">
            <img width="48" class="reviews-img" src="" alt="" />
            <div class="reviews-customer-info">
              <h3 class="reviews-customer-author">Natalia</h3>
              <p class="reviews-descr">
                Work with was extraordinary! He turned out to be a very
                competent and responsible specialist. The projects were
                completed on time and the result exceeded my expectations
              </p>
            </div>
          </li>
          <li class="swiper-slide reviews-list-item">
            <img width="48" class="reviews-img" src="" alt="" />
            <div class="reviews-customer-info">
              <h3 class="reviews-customer-author">Natalia</h3>
              <p class="reviews-descr">
                Work with was extraordinary! He turned out to be a very
                competent and responsible specialist. The projects were
                completed on time and the result exceeded my expectations
              </p>
            </div>
          </li>
          <li class="swiper-slide reviews-list-item">
            <img width="48" class="reviews-img" src="" alt="" />
            <div class="reviews-customer-info">
              <h3 class="reviews-customer-author">Natalia</h3>
              <p class="reviews-descr">
                Work with was extraordinary! He turned out to be a very
                competent and responsible specialist. The projects were
                completed on time and the result exceeded my expectations
              </p>
            </div>
          </li>
          <li class="swiper-slide reviews-list-item">
            <img width="48" class="reviews-img" src="" alt="" />
            <div class="reviews-customer-info">
              <h3 class="reviews-customer-author">Natalia</h3>
              <p class="reviews-descr">
                Work with was extraordinary! He turned out to be a very
                competent and responsible specialist. The projects were
                completed on time and the result exceeded my expectations
              </p>
            </div>
          </li> -->
        </ul>
      </div>

      <div class="review-buttons-set">
        <button type="button" class="review-swiper-button prev">
          <svg class="review-swiper-button-icon">
            <use href="/img/sprite.svg#icon-big-arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="review-swiper-button next">
          <svg class="review-swiper-button-icon">
            <use href="/img/sprite.svg#icon-big-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
