<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title">REVIEWS</h2>

    <!--Swiper-->
    <div class="reviews-wrapper">
      <div class="reviews-swiper">
        <ul class="swiper-wrapper reviews-list"></ul>
      </div>

      <div class="review-buttons-set">
        <button type="button" class="review-swiper-button prev">
          <svg class="review-swiper-button-icon">
            <use href="/img/sprite.svg#icon-big-arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="review-swiper-button next">
          <svg class="review-swiper-button-icon">
            <use href="/img/sprite.svg#icon-big-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
