.about-me {
  margin-bottom: 64px;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about-me-summary {
  padding: 32px 32px 272px 32px;
  border-radius: 24px;
  background: #242527;
  margin-bottom: 16px;
}

.about-me-summary-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-align: left;
  text-transform: uppercase;
}

.red {
  color: #ed3b44;
}

.pale {
  color: #fafafa66;
}

.about-me-pic {
  border-radius: 24px;
}

.about-me-info-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-me-info-list-item {
  position: relative;
}

.about-me-info-list-item::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.info-title-button-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.info-item-title {
  color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.disclosure-button {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
}

.disclosure-button-icon {
  width: 18px;
  height: 18px;
}

.info-item-text-wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.info-item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.roles-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.education-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-me-technologies {
  margin-top: 32px;
  display: flex;
  gap: 55px;
  align-items: center;
}

.technologies-list {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.technologies-list-item {
  min-width: 130px;
  min-height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.is-active {
  border: none;
  background-color: #ed3b44;
}

.scroll-button {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  stroke: rgb(59, 59, 59);
}

.scroll-button-icon {
  width: 28px;
  height: 28px;
}

@media screen and (min-width: 768px) {
  .about-me {
    margin-bottom: 96px;
  }

  .about-me-container {
    gap: 64px;
  }

  .about-me-summary {
    padding: 64px 64px 436px 64px;
  }

  .about-me-summary-text {
    font-size: 38px;
    line-height: 1.05;
  }

  .about-me-info-list {
    gap: 64px;
  }

  .info-item-text-wrap {
    padding-left: 696px;
  }

  .info-item-text {
    max-width: 612px;
  }

  .roles-list {
    padding-left: 696px;
  }

  .education-list {
    padding-left: 696px;
  }

  .about-me-info-list-item::after {
    bottom: -32px;
  }

  .disclosure-button {
    width: 40px;
    height: 40px;
  }

  .disclosure-button-icon {
    width: 20px;
    height: 20px;
  }

  /* .info-item-text {
    max-width: 700px;
  } */

  .about-me-technologies {
    margin-top: 64px;
    gap: 64px;
  }

  .technologies-list-item {
    min-width: 200px;
    min-height: 200px;
    font-size: 20px;
    line-height: 1.2;
  }

  .scroll-button {
    width: 40px;
    height: 40px;
  }

  .scroll-button-icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me {
    margin-bottom: 164px;
  }

  .about-me-container {
    gap: 96px;
  }

  .about-me-intro {
    display: flex;
    gap: 16px;
  }

  .about-me-summary {
    margin-bottom: 0;
  }

  .about-me-summary-text {
    max-width: 552px;
  }

  .about-me-technologies {
    padding-right: 32px;
    padding-left: 32px;
    gap: 72px;
    margin-top: 96px;
  }
}
