.header-mobile-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  position: absolute;
  width: 100vw;
  height: 812px;
  background: linear-gradient(
    -90.57deg,
    rgb(28, 29, 32) 49.692%,
    rgb(172, 83, 0) 67.704%,
    rgb(254, 123, 1) 99.891%
  );

  z-index: 2;

  transform: translateY(-100%);
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out,
    transform 0.3s ease-out;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.menu-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
  animation: slideInFromTop 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.menu-close {
  animation: slideInFromBottom 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.header-dropdown {
  display: none;
}

.background-mobile-window {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: -1;
}

.transparent-mobile-window {
  width: 42px;
  height: 100%;
  backdrop-filter: blur(100px);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(59, 59, 59, 0.2) 16.667%,
    rgba(255, 255, 255, 0) 100%
  );
}

.menu-close-button {
  position: absolute;
  top: 25px;
  right: 15px;
  background-color: transparent;
  border: none;
}

.menu-close-button-icon {
  width: 28px;
  height: 28px;
  stroke: #fafafa;
}

.menu-header-navigation {
  padding: 300px 100px 65px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-bottom: 290px;
}

.menu-sections-link {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
}

.menu-header-order-button {
  border: none;
  border-radius: 60px;
  background-color: #ff8a1d;
  color: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: -0.02em;
  padding: 18px 24px;
}

/* ========================================================= */

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 32px;
  z-index: 1;
}

.header-container {
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header-avatar {
  display: flex;
  gap: 8px;
}

.avatar-logo {
  border-radius: 18px;
}

.avatar-name {
  width: 84px;
  height: 19px;
}

.header-dropdown {
  position: relative;
}

.menu-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
}

.header-navigation {
  display: none;
  opacity: 0;
  position: absolute;
  width: 250%;
  top: 40px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: top;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

@keyframes menuDropdown {
  0% {
    opacity: 0;
    transform: translateX(-50%) scaleY(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) scaleY(1);
  }
}

@keyframes menuCollapse {
  0% {
    opacity: 1;
    transform: translateX(-50%) scaleY(1);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) scaleY(0);
  }
}

.active {
  display: block;
  opacity: 1;
  animation: menuDropdown 0.3s ease-out forwards;
}

.collapsed {
  animation: menuCollapse 0.3s ease-out forwards;
}

.navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.sections-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: -0.02em;
}

.header-order-button {
  display: none;

  border: none;
  border-radius: 60px;
  background-color: #ff8a1d;
  color: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: -0.02em;
  padding: 18px 24px;
}

.burger-open-button {
  background-color: transparent;
  border: none;
}

.burger-open-icon {
  width: 28px;
  height: 28px;
  stroke: #fafafa;
}

@media screen and (min-width: 768px) {
  .header-container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .header-dropdown {
    display: block;
  }

  .header-order-button {
    display: block;
  }

  .burger-open-button {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .menu-link {
    font-size: 20px;
  }
}
