.reviews {
  margin-bottom: 64px;
}

.reviews-title {
  color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
}

.reviews-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.reviews-swiper {
  overflow: hidden;
}

.reviews-list {
  display: flex;
}

.reviews-list-item.swiper-slide {
  height: auto;
  padding: 32px 24px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.reviews-img {
  width: 48px;
  height: 48px;
  border-radius: 10px;
}

.reviews-customer-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reviews-customer-author {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.reviews-descr {
  color: rgba(250, 250, 250, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.review-buttons-set {
  display: flex;
  gap: 12px;
  margin: 0 auto;
}

.review-swiper-button {
  width: 52px;
  height: 52px;
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-swiper-button-icon {
  stroke: #fafafa;
  width: 24px;
  height: 24px;
}

.not-found-info {
  width: 100%;
  text-align: center;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}

@media screen and (min-width: 768px) {
  .reviews {
    margin-bottom: 96px;
  }

  .review-buttons-set {
    gap: 20px;
  }

  .review-swiper-button {
    width: 68px;
    height: 68px;
  }

  .review-swiper-button-icon {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews {
    margin-bottom: 164px;
  }
}
